@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #e6eaf5 0%, #f6f6f6 80%);
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "Inter var", sans-serif;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMwLjUgMTZDMzAuNSAyNC4wMDgxIDI0LjAwODEgMzAuNSAxNiAzMC41QzcuOTkxODcgMzAuNSAxLjUgMjQuMDA4MSAxLjUgMTZDMS41IDcuOTkxODcgNy45OTE4NyAxLjUgMTYgMS41QzI0LjAwODEgMS41IDMwLjUgNy45OTE4NyAzMC41IDE2WiIgc3Ryb2tlPSJibGFjayIvPgo8cGF0aCBkPSJNNiA5QzcuNjU2ODUgOSA5IDcuNjU2ODUgOSA2QzkgNC4zNDMxNSA3LjY1Njg1IDMgNiAzQzQuMzQzMTUgMyAzIDQuMzQzMTUgMyA2QzMgNy42NTY4NSA0LjM0MzE1IDkgNiA5WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="),
    auto;
}

p {
  margin: 0;
  padding: 0;
}

a {
  padding-right: 10px;
  cursor: pointer;
  pointer-events: all;
  color: black;
  text-decoration: none; /* no underline */
}

@media screen and (max-width: 568px) {
  .full {
    visibility: hidden;
    display: none;
  }
}
.logo{
  position: fixed;
  left: 20px;
  top: 20px;
  width: 90px;
}
.logo2{
  position: fixed;
  left: 50px;
  top: 10px;
  width: 250px;
}
.logo > span{
  font-size: 55px;
  margin-top: 20px;
  padding-left: 100px;
  opacity: 0;
}
.contentItem{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#leva__root{
  display: none;
}
.centerContent{
  padding: 10px 20px;
  position: fixed;
  background-color: #ffffffc5;
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  color: blue;
  font-weight: bolder;
  z-index: 9999;
  top: 0;
  bottom: 0;
  height: 100px;
  line-height: 40px;
  border-radius: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
.bottomContent{
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
}
.bottomContent > a{
  background-color: rgb(0, 88, 252);
  line-height: 45px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  padding-left: 45px;
}
.tipsImg{
  width: 25px;
  line-height: 45px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
}
.titleContent{
  color: black;
  text-align: start;
}
.copy{
  position: absolute;
  right: 50px;
  top: 5px;
}
.titleContent2{
  width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .centerContent {
    padding: 10px 20px;
    position: fixed;
    background-color: #ffffffc5;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    color: blue;
    font-weight: bolder;
    z-index: 9999;
    top: 0;
    bottom: 0;
    height: 200px;
    line-height: 40px;
    border-radius: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
  }
}



